<%= form_with(model: @comedian, local: true,url: choose_new_or_edit) do |form| %>
  <% if @comedian.errors.any? %>
    <div id="error_explanation">
      <h2><%= @comedian.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @comedian.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="comedian_icon">
  <%= form.label :combination_icon %><br>
  <%= image_tag(@comedian.combination_icon.url) if @comedian.combination_icon && @comedian.combination_icon.url %>
  <%= form.file_field :combination_icon %>
  <%= form.hidden_field :image_cache %>
</div>

<div class="comedian_comment">
  <%= form.label :comment %><br>
  <%= form.text_area :comment, id: 'Comment' %>
</div>

<div class="comedian_combination_name">
  <%= form.label :combination_name %><br>
  <%= form.text_field :combination_name, id: 'Combination_name' %>
</div>

<div class="comedian_email">
  <%= form.label :email %><br>
  <%= form.email_field :email, id: 'Email' %>
</div>

<div class="comedian_genre">
  <%= form.label :genre %><br>
  <%= form.text_field :genre,id: 'Genre' %>
</div>

<div class="comedian_twitter_url">
  <%= form.label :twitter_url %><br>
  <%= form.text_field :twitter_url, id: 'Twitter_url' %>
</div>

<div class="comedian_youtube_url">
  <%= form.label :youtube_url %><br>
  <%= form.text_field :youtube_url, id: 'Youtube_url' %>
</div>

  <%= form.submit "登録" %>

<% end %>