<%= form_with(model: @comedian, local: true, url: choose_new_or_edit) do |form| %>
  <% if @comedian.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= @comedian.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @comedian.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row　col-md-10">
      <%= image_tag(@comedian.combination_icon.thumb.url) if @comedian.combination_icon && @comedian.combination_icon.thumb.url %><br>
      <%= form.file_field :combination_icon, class:"form-control-file"%>
      <%= form.hidden_field :combination_icon_cache %>
  </div>

  <div class="form-group row">
    <%= form.label t('view.comedian.combination_name'), class:"col-md-3" %>
    <div class="col-md-9">
      <%= form.text_field :combination_name, class:"form-control",placeholder:'コンビ名を入力' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label t('view.email'), class:"col-md-3" %>
    <div class="col-md-9">
      <%= form.email_field :email, class:"form-control", placeholder:'メールアドレスを入力'%>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label t('view.comedian.genre'), class:"col-md-3" %>
    <div class="col-md-9">
      <%= form.select :genre, ["コント", "漫才", "フリートーク", "モノマネ", "リアクション芸", "大喜利",
                                "一発ギャグ", "歌ネタ/リズムネタ", "ピン芸人", "フリップ芸", "漫談"],{} ,{prompt: "選択してください",class: "form-control"} %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :twitter_url, class:"col-md-3" %>
    <div class="col-md-9">
      <%= form.text_field :twitter_url, class:"form-control", placeholder:'Twitter_urlを入力' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :youtube_url, class:"col-md-3" %>
    <div class="col-md-9">
      <%= form.text_field :youtube_url, class:"form-control", placeholder:'Youtube_urlを入力' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label t('view.comedian.comment'), class:"col-md-3" %>
    <div class="col-md-9">
      <%= form.text_area :comment, class:"form-control", placeholder:'自己紹介を追加',rows:"3"%>
    </div>
  </div>

  <%= form.submit t('view.comedian.entry') ,class: "btn btn-success mt-2"%>

<% end %>
