<h1>芸人一覧</h1>

<table>
  <tbody>
    <% @comedians.each do |comedian| %>
      <div class="centering_item">
      <span><%= comedian.combination_name %></span><br>
      <p><%= comedian.comment %></p>

        <span><%= link_to '詳細', comedian,class: 'btn btn-default'  %></span>
        <span><%= link_to '編集', edit_comedian_path(comedian.id),class: 'btn btn-default'   %></span>
        <span><%= link_to '削除', comedian_path(comedian.id), data: { confirm: '本当に削除していいですか？' },method: :delete,class: 'btn btn-default' %></span>
      </div>
    <% end %>
  </tbody>
</table>