<main role=”main”>
  <header class="page-header">
    <div class="page-header_inner">
      <div class="page-header_content row">
        <h1 class="section-header_title col-md-12">登録されている芸人一覧</h1>
      </div>
      <div class="page-header_outline col-md-12">
        <p class="section-header_outline">登録されている芸人を表示しています。
          好きなジャンルやお好きなキーワード  で検索できます。</p>
      </div>
    </div>
  </header>
  <div class="page-content">
    <div class="column clearfix">
      <nav class="section">
        <div class="section_content">
          <section class="block-filter-main">
            <div class="block-filter w-100">
              <div class="block-filter_content">
                <%= search_form_for @search do |f| %>
                  <div class="block-content">
                    <div class="filter-section mb-3 row">
                      <div class="filter-section_header col-md-1 offset-md-1">
                        <%= f.label :genre_cont, 'ジャンル' %>
                      </div>
                      <div class="filter-section_content col-md-4">
                        <%= f.collection_select :genre_cont, Comedian.select(:genre).distinct, :genre, :genre, :include_blank => true %>
                      </div>

                      <div class="filter-section_header col-md-1 offset-md-1">
                        <%= f.label :comment_cout, 'キーワード' %><br>
                      </div>
                      <div class="filter-section_content col-md-4">
                        <%= f.text_field :combination_name_or_comment_cont, placeholder: "コンビ名やフレーズ等で検索"%>
                      </div>
                    </div>
                  </div>

                  <div class="filter-footer row pt-3">
                    <% if current_user != nil %>
                      <% if current_user.entertainer != false && current_user.comedian.nil? %>
                        <div class="filter-botton col-md-2 offset-md-4">
                          <%= f.submit '検索する', class:"btn btn-primary" %>
                        </div>
                        <div class="filter-botton create col-md-3">
                          <% if current_user.comedian.nil? %>
                            <%= link_to t('view.comedian.add'), new_comedian_path, class: 'btn btn-outline-primary' %>
                          <% end %>
                        </div>
                      <% else %>
                        <div class="filter-botton col-md-4 offset-md-4">
                          <%= f.submit '検索する', class:"btn btn-primary" %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </section>
          <div class="block-comedian-list card-columns my-3 ">
            <% @comedians.each do |comedian| %>
            <div class="card mb-3">
              <% unless comedian.combination_icon.thumb.url == nil %>
                <%= image_tag comedian.combination_icon.thumb.url, class: "card-img-top p-3" %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title text-left"><%= comedian.combination_name %></h5>
                <p class="card-text text-left"><%= t('view.comedian.genre') %> : <%= comedian.genre %></p>
                <p class="card-text text-left overflow-auto" style="height:4.5rem;"><%= comedian.comment %></p>
                <% if current_user == nil || current_user.id != comedian.user_id %>
                  <div class="mb-4 comedian_show">
                    <span><%= link_to t('view.show'), comedian, class: 'btn btn-outline-secondary' %></span>
                  </div>
                <% elsif current_user.id == comedian.user_id %>
                  <div class="btn-group comedian_show mb-4">
                    <span><%= link_to t('view.show'), comedian, class: 'btn btn-outline-secondary' %></span>
                    <span><%= link_to t('view.edit'), edit_comedian_path(comedian.id), class: 'btn btn-outline-secondary' %></span>
                    <span><%= link_to t('view.destroy'), comedian_path(comedian.id), method: :delete, class: 'btn btn-outline-secondary' %></span>
                  </div>
                <% end %>
              </div>
            </div>
            <% end %>
          </div>
          <div class="block-paginator pagination mx-auto pb-4">
            <%= paginate @comedians %>
          </div>
        </div>
      </nav>
    </div>
  </div>
</main>