<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="search_comedian col-sm-3 pl-0 pr-1">
        <h6>芸人検索機能</h6>
        <h2>芸人を検索しよう</h2>
        <%= search_form_for @search do |f| %>
          <div class="genre">
            <%= f.label :genre_cont, 'ジャンル' %><br>
            <%= f.collection_select :genre_cont, Comedian.select(:genre).distinct, :genre, :genre, :include_blank => true %>
          </div>

          <div>
            <%= f.label :comment_cout, 'キーワード' %><br>
            <%= f.text_field :combination_name_or_comment_cont ,placeholder:"コンビ名や気になったフレーズで検索",:size=>"33" %>
          </div>

          <div class="submit mt-3">
            <%= f.submit '検索する' %>
          </div>
        <% end %>

        <% if current_user != nil %>
          <% if current_user.comedian.nil? %>
            <%= link_to t('view.comedian.add'), new_comedian_path, class: 'btn btn-outline-primary mt-3' %>
          <% end %>
        <% end %>
      </div>

      <div class="comedian col-sm-9 row text-center mx-auto">
        <div class="w-100">
          <h6>芸人一覧</h6>
          <h2>こんな芸人がいます</h2>
        </div>
        <% @comedians.each do |comedian| %>
          <div class="centering_item card col-sm-4 mb-3">
            <% unless comedian.combination_icon.thumb.url == nil %>
              <p><%= image_tag comedian.combination_icon.thumb.url, class: "mt-4" %></p>
            <% end %>
            <span><%= comedian.combination_name %></span><br>
            <p><%= t('view.comedian.genre') %> : <%= comedian.genre %></p>
            <p><%= comedian.comment %></p>
            <% if current_user == nil || current_user.id != comedian.user_id %>
              <div class="mb-4 comedian_show">
                <span><%= link_to t('view.show'), comedian, class: 'btn btn-outline-secondary' %></span>
              </div>
            <% elsif current_user.id == comedian.user_id %>
              <div class="btn-toolbar mx-auto mb-4">
                <div class="btn-group comedian_show">
                  <span><%= link_to t('view.show'), comedian, class: 'btn btn-outline-secondary' %></span>
                  <span><%= link_to t('view.edit'), edit_comedian_path(comedian.id), class: 'btn btn-outline-secondary' %></span>
                  <span><%= link_to t('view.destroy'), comedian_path(comedian.id), method: :delete, class: 'btn btn-outline-secondary' %></span>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="pagination mx-auto">
        <%= paginate @comedians %>
      </div>

    </div>
  </div>
</div>