<div class="page-content">
  <div class="column-comedian">
    <div class="section">
      <h1 class="main-title">芸人プロフィール</h1>
    </div>
    <div class="block-comedian-group">
      <div class="comedian-info">
        <div class="comedian-info_header d-flex flex-row">
          <div class="comedian-info_left">
            <div class="comedian_icon">
              <% unless @comedian.combination_icon.url == nil %>
                <p><%= image_tag @comedian.combination_icon.thumb.url %></p>
              <% end %>
            </div>
          </div>

          <div class="comedian-info_right">
            <div class="comedian_combination_name">
              <h2><%= @comedian.combination_name %></h2>
            </div>

            <div class="comedian_email">
              <p><%= @comedian.email %></p>
            </div>

            <div class="comedian_genre">
              <p><%= t('view.comedian.genre') %></p>
              <p><%= @comedian.genre %></p>
            </div>
            <div class="comedian_twitter_url">
              <p>Twitter_url</p>
              <p><%= link_to @comedian.twitter_url,  @comedian.twitter_url , target: :_blank %></p>
            </div>

            <div class="comedian_youtube_video">
              <p>Youtube_url</p>
              <p><%= link_to @comedian.youtube_url,  @comedian.youtube_url, target: :_blank %></p>
            </div>

            <div class="comedian_favorite">
              <% if current_user != nil %>
                <% unless @comedian.user_id == current_user.id %>
                  <% if @favorite.present? %>
                    <%= link_to t('view.user.release'), favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
                  <% else %>
                    <%= link_to t('view.user.favorite'), favorites_path(comedian_id: @comedian.id), method: :post, class: 'btn btn-primary' %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div class="comedian_gesture">
              <% if current_user != nil && current_user.id == @comedian.user_id %>
                <span><%= link_to t('view.edit'), edit_comedian_path(@comedian.id), class: 'btn btn-outline-secondary' %></span>
                <span><%= link_to t('view.destroy'), comedian_path(@comedian.id), data: {confirm: '本当に削除していいですか？'}, method: :delete, class: 'btn btn-outline-secondary' %></span>
              <% end %>
            </div>
          </div>
        </div>

        <div class="comedian-info_main">
          <div class="comedian_comment">
            <h3><%= t('view.comedian.comment') %></h3>
            <p><%= @comedian.comment %></p>
          </div>
        </div>
      </div>

      <div class="comedian-perform">
        <h2>出演する予定のライブ</h2>
        <div class="block-live-list">
          <% @schedule.each do |schedule| %>
            <div class="live_item mx-auto">
              <section class="live-item_inner">
                <div class="live-info_left clearfix" id="title">
                  <p><%= schedule.title %></p>
                </div>
                <div class="live-info_right clearfix">
                  <header class="live-item_header">
                    <h3><%= simple_day(schedule.date) %></h3>
                  </header>
                  <div class="live-item_content">
                    <p><%= simple_time(schedule.start_time) %>〜<%= simple_time(schedule.ending_time) %></p>
                  </div>
                </div>
              </section>
            </div>
          <% end %>
          <%= paginate @schedule %>
        </div>
      </div>

      <div class='mt-2'>
        <%= link_to "芸人一覧に戻る", comedians_path %>
      </div>
    </div>
  </div>
</div>