<main role=”main”>
  <header class="page-header">
    <div class="page-header_inner">
      <div class="page-header_content row">
        <h1 class="main-title col-md-12">芸人プロフィール</h1>
      </div>
    </div>
  </header>
  <div class="page-content p-3">
    <div class="block-comedian-group">
      <div class="comedian-info p-4 mx-auto">
        <div class="comedian-info_header row mb-3">
          <div class="comedian-info_left col-md-4 offset-md-2">
            <div class="comedian_icon">
              <% unless @comedian.combination_icon.url == nil %>
                <p class="mb-0"><%= image_tag @comedian.combination_icon.thumb.url %></p>
              <% end %>
            </div>
          </div>

          <div  class="comedian-info_right col-md-4">
            <div class="comedian_combination_name">
              <h2><%= @comedian.combination_name %></h2>
            </div>

            <div class="comedian_email">
              <p><%= @comedian.email %></p>
            </div>

            <div class="comedian_genre">
              <p><%= t('view.comedian.genre') %></p>
              <p><%= @comedian.genre %></p>
            </div>

            <div class="comedian_favorite">
              <% if current_user != nil %>
                <% unless @comedian.user_id == current_user.id %>
                  <% if @favorite.present? %>
                    <%= link_to t('view.user.release'), favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
                  <% else %>
                    <%= link_to t('view.user.favorite'), favorites_path(comedian_id: @comedian.id), method: :post, class: 'btn btn-primary' %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div class="comedian_gesture">
              <% if current_user != nil && current_user.id == @comedian.user_id %>
                <span><%= link_to t('view.edit'), edit_comedian_path(@comedian.id), class: 'btn btn-outline-secondary' %></span>
                <span><%= link_to t('view.destroy'), comedian_path(@comedian.id), data: {confirm: '本当に削除していいですか？'}, method: :delete, class: 'btn btn-outline-secondary' %></span>
              <% end %>
            </div>
          </div>
        </div>

        <div class="comedian-info_main">
          <div class="comedian-info_main_upper mb-3 row">
            <div class="comedian_twitter_url col-md-4 offset-md-2">
              <a class="twitter-timeline" data-chrome="transparent noheader nofooter" data-lang="ja" data-width="100%" data-height="315px" data-theme="light" href=<%= @comedian.twitter_url %>>
              <%= @comedian.combination_name %></a>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

            <% if @comedian.youtube_url != "" %>
              <div class="comedian_youtube_video col-md-4">
                <iframe width="100%" height="315px" src="https://www.youtube.com/embed/?list=<%= @comedian.youtube_url.slice(-24,56) %>"
                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
            <% end %>
          </div>

          <div class="comedian_comment row">
            <h3 class="col-md-8 offset-md-2"><%= t('view.comedian.comment') %></h3>
            <p class="col-md-8 offset-md-2"><%= @comedian.comment %></p>
          </div>
        </div>
      </div>

      <div class="comedian-perform row p-4">
        <div class="comedian-perform-header col-md-12">
          <h2 class="">出演予定のライブ</h2>
        </div>
        <div class="block-live-list col-md-6 offset-md-3">
          <%= render partial: 'show_schedule' %>
        </div>
      </div>

      <div class='mb-4'>
        <%= link_to "芸人一覧に戻る", comedians_path %>
      </div>
    </div>
  </div>
</main>