<div class="page-content">
  <div class="column-comedian">
    <div class="section">
      <h1 class="main-title">芸人プロフィール</h1>
    </div>
    <div class="block-comedian-group">
      <div class="comedian-info">
        <div class="comedian-info_header d-flex flex-row">
          <div class="comedian-info_left">
            <div class="comedian_icon">
              <% unless @comedian.combination_icon.url == nil %>
                <p><%= image_tag @comedian.combination_icon.thumb.url %></p>
              <% end %>
            </div>
          </div>

          <div class="comedian-info_right">
            <div class="comedian_combination_name">
              <h2><%= @comedian.combination_name %></h2>
            </div>

            <div class="comedian_email">
              <p><%= @comedian.email %></p>
            </div>

            <div class="comedian_genre">
              <p><%= t('view.comedian.genre') %></p>
              <p><%= @comedian.genre %></p>
            </div>

            <div class="comedian_favorite">
              <% if current_user != nil %>
                <% unless @comedian.user_id == current_user.id %>
                  <% if @favorite.present? %>
                    <%= link_to t('view.user.release'), favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
                  <% else %>
                    <%= link_to t('view.user.favorite'), favorites_path(comedian_id: @comedian.id), method: :post, class: 'btn btn-primary' %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div class="comedian_gesture">
              <% if current_user != nil && current_user.id == @comedian.user_id %>
                <span><%= link_to t('view.edit'), edit_comedian_path(@comedian.id), class: 'btn btn-outline-secondary' %></span>
                <span><%= link_to t('view.destroy'), comedian_path(@comedian.id), data: {confirm: '本当に削除していいですか？'}, method: :delete, class: 'btn btn-outline-secondary' %></span>
              <% end %>
            </div>
          </div>
        </div>

        <div class="comedian-info_main">
          <div class="comedian-info_main_upper d-flex justify-content-center mb-2">
            <div class="comedian_twitter_url mr-3">
              <a class="twitter-timeline" data-chrome="transparent noheader nofooter" data-lang="ja" data-width="100%" data-height="100%" data-theme="light" href=<%= @comedian.twitter_url %>>
              <%= @comedian.combination_name %></a>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

            <% if @comedian.youtube_url != "" %>
              <div class="comedian_youtube_video ml-3">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/?list=<%= @comedian.youtube_url.slice(-24,56) %>"
                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
            <% end %>
          </div>

          <div class="comedian_comment">
            <h3><%= t('view.comedian.comment') %></h3>
            <p><%= @comedian.comment %></p>
          </div>
        </div>
      </div>

      <div class="comedian-perform">
        <h2>出演する予定のライブ</h2>
        <div class="block-live-list">
          <%= render partial: 'show_schedule' %>
        </div>
      </div>

      <div class='mt-2'>
        <%= link_to "芸人一覧に戻る", comedians_path %>
      </div>
    </div>
  </div>
</div>