<h2>サインアップ</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label t('view.user.name') %>
    <%= f.text_field :name, id: 'Name' , autofocus: true %>
  </div>

  <div class="field">
    <%= f.label t('view.email') %>
    <%= f.email_field :email, id: 'Email', autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label t('view.user.password') %>

    <%= f.password_field :password, id: 'Password', autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label t('view.user.password_confirmation') %>
    <%= f.password_field :password_confirmation, id: 'Password_confirmation', autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label t('view.user.entertainer') %>
    <%#= f.check_box :entertainer, :as => :boolean, checked:false %>
    <%= f.check_box :entertainer, {:checked =>false}, checked_value = "true",unchecked_value = "false" %>
  </div>

  <div class="actions">
    <%= f.submit t('view.sign_up') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
