<main role=”main”>
  <header class="page-header">
    <div class="page-header_inner">
      <div class="page-header_content row">
        <h1 class="col-md-12"><%= @user.name %>プロフィールを変更</h1>
      </div>
    </div>
  </header>
  <div class="page-content p-4">
    <div class="bg-light comedian-form mx-auto p-4">
      <%= form_with(model: @user, local: true) do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
            <h2><%= @user.errors.count %>件のエラーがあります。</h2>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group row">
          <div class="icon mx-auto">
            <label>
              <span class="filelabel" title="ファイルを選択">
                <%= image_tag @user.icon.thumb.to_s %>
                <i class="fas fa-camera"></i>
              </span>
            <label>
            <%= f.file_field :icon, id:"filesend" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label t('view.user.name'), class:"col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :name, class:"form-control", autofocus: true %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label t('view.email'), class:"col-md-3" %>
          <div class="col-md-9">
            <%= f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email" %>
          </div>
        </div>

        <div class="form-check row">
          <%= f.check_box :entertainer,{class:"form-check-input"}, checked_value = "true", unchecked_value = "false" %>
          <%= f.label t('view.user.entertainer'), class:"col-md-7 form-check-label" %>
        </div>

        <div class="actions">
          <%= f.submit t('view.user.update'),class: "btn btn-success my-2" %>
        </div>
      <% end %>
    </div>
  </div>
</main>