<main role=”main”> 
  <header class="page-header">
    <div class="page-header_inner">
      <div class="page-header_content row">
        <h1 class="main-title col-md-12"><%= @user.name %>プロフィール</h1>
      </div>
    </div>
  </header>
  <div class="page-content p-3">
    <div class="block-user-group">
      <div class="user-info bg-light mx-auto">
        <div class="user-info_header row p-3">
          <div class="user-info_left col-md-4 offset-md-2">
            <div class="user_icon">
              <p><%= image_tag @user.icon.thumb.to_s %></p>
            </div>
          </div>

          <div class="user-info_right col-md-4">
            <div class="user_name">
              <h2><%= @user.name %></h2>
            </div>
            <div class="user_email">
              <p><%= @user.email %></p>
            </div>
            <div class="user_gesture">
              <span><%= link_to t('view.user.follow'), favorites_path %></span>
              <span><%= link_to t('view.edit'), edit_user_path(@user.id),class: 'btn btn-primary' %></span>
            </div>
          </div>
        </div>
      </div>

      <div class="user_participate row p-4">
        <div class="user_participate-header col-md-12">
          <h2>参加予定のライブ</h2>
        </div>
        <div class="block-live-list col-md-6 offset-md-3">
          <%= render partial: 'show_schedule' %>
        </div>
      </div>
    </div>
  </div>
</main>