<main role=”main”>
  <header class="page-header">
    <div class="page-header_inner">
      <div class="page-header_content row">
        <h1 class="col-md-12">編集画面</h1>
      </div>
    </div>
  </header>

  <div class="page-content p-5">
    <div class="live-form mx-auto bg-light p-5">
      <%= form_with(model: @live, url: live_path, class:"w-100", local: true) do |form| %>
        <% if @live.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
            <h2><%= @live.errors.count %>件のエラーがあります。</h2>
            <ul>
              <% @live.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group row">
          <%= form.label t('view.live.title'), class:"col-md-4" %>
          <div class="col-md-8">
            <%= form.text_field :title,class:"form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label t('view.live.date'), class:"col-md-4" %>
          <div class="col-md-8">
            <%= form.date_field :date,class:"form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label t('view.live.time'), class:"col-md-4" %>
          <div class="col-md-8">
            <%= form.time_select :start_time, {include_blank: true} %>
            <span>~</span>
            <%= form.time_select :ending_time, {include_blank: true} %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label t('view.live.place'), class:"col-md-4" %>
          <div class="col-md-8">
            <%= form.text_field :place,class:"form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label t('view.live.prise'), class:"col-md-4" %>
          <div class="col-md-8">
            <%= form.text_field :price,class:"form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label t('view.live.content'), class:"col-md-4" %>
          <div class="col-md-8">
          <%= form.text_area :content,class:"form-control" %>
          </div>
        </div>

        <%= form.submit t('view.live.entry'),class:"btn btn-primary mb-2" %>
      <% end %>
    </div>

    <div class="live-index mt-2">
      <p><%= link_to t('view.live.list'), lives_path %></p>
    </div>
  </div>
</main>