<main role=”main”>
  <div class="page-content">
    <div class="section">
      <h1>編集画面</h1>
    </div>
    <div class="block-live-edit  row bg-light">
      <%= form_with(model: @live, url: live_path, class:"w-100", local: true) do |form| %>
        <% if @live.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
            <h2><%= @live.errors.count %>件のエラーがあります。</h2>
            <ul>
              <% @live.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label t('view.live.title') %>
          <div class="col-md-6 offset-md-3">
            <%= form.text_field :title,class:"form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= form.label t('view.live.date') %>
          <div class="col-md-6 offset-md-3">
            <%= form.date_field :date,class:"form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= form.label t('view.live.start_time')%>
          <%= form.time_select :start_time, {include_blank: true} %>
          <%= form.label t('view.live.ending_time') %>
          <%= form.time_select :ending_time, {include_blank: true} %>
        </div>

        <div class="form-group">
          <%= form.label t('view.live.place') %>
          <div class="col-md-6 offset-md-3">
            <%= form.text_field :place,class:"form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= form.label t('view.live.prise') %>
          <div class="col-md-6 offset-md-3">
            <%= form.text_field :price,class:"form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= form.label t('view.live.content') %>
          <div class="col-md-6 offset-md-3">
          <%= form.text_area :content,class:"form-control" %>
          </div>
        </div>

        <%= form.submit t('view.live.entry'),class:"btn btn-primary mb-2" %>
      <% end %>
    </div>
    <div class="live-index mt-2">
      <p><%= link_to t('view.live.list'), lives_path %></p>
    </div>
  </div>
</main>