<main role=”main”>
  <header class="page-header">
    <div class="page-header_inner">
      <div class="page-header_content row">
        <h1 class="page-header_title col-md-12">開催予定のライブ情報</h1>
        <div class="page-header_outline col-md-12">
          <p class="section-header_outline">芸人が出演する予定のライブ情報を開催日が近い順に表示しています。
            開催日や開催場所で絞り込んで検索することができます。</p>
        </div>
      </div>
    </div>
  </header>
  <div class="page-content">
    <div class="column clearfix">
      <section class="section">
        <div class="section_content">
          <section class="block-filter-main">
            <div class="block-filter w-100">
              <div class="block-filter_content">
                <%= search_form_for @search  do |f| %>
                  <div class="filter-content">
                    <div class="filter-section mb-3 row">
                      <div class="filter-section_header col-md-1 offset-md-1">
                        <%= f.label :date_gteq, '公演日'%>
                      </div>
                      <div class="filter-section_content col-md-4">
                        <label class="date-edit">
                          <%= f.date_field :date_gteq, id: 'search_date', max: "9999-12-31" %>
                        </label>
                        <span class="from">から</span>
                        <label class="date-edit">
                          <%= f.date_field :date_lteq, id: 'search_date', max: "9999-12-31" %>
                        </label>
                        <span class="to">まで</span>
                      </div>

                      <div class="filter-section_header col-md-1">
                        <%= f.label :place_cont, '場所' %>
                      </div>
                      <div class="filter-section_content col-md-4">
                        <%= f.collection_select :place_cont, Live.select(:place).distinct, :place, :place, :include_blank => true %>
                      </div>
                    </div>
                  </div>
                  <div class="filter-footer d-flex flex-row row pt-3">
                    <% if current_user != nil %>
                      <% if current_user.entertainer != false && current_user.comedian != nil %>
                       <div class="filter-botton col-md-2 offset-md-4">
                          <%= f.submit '検索する', class:"btn btn-primary" %>
                        </div>
                        <div class="filter-botton create col-md-3">
                          <%= link_to t('view.live.add'), new_live_path, class: 'btn btn-secondary' %>
                        </div>
                      <% else %>
                        <div class="filter-botton col-md-4 offset-md-4">
                          <%= f.submit '検索する', class:"btn btn-primary" %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </section>
          <div class="block-live-list my-3">
            <% @lives.each do |live| %>
            <div class="live_item mx-auto">
              <section class="live-item_inner">
                <div class="live-info_left clearfix" id="title">
                  <p><%= simple_day(live.date) %></p>
                </div>
                <div class="live-info_right clearfix">
                  <header class="live-item_header">
                    <h3><%= live.title %></h3>
                  </header>
                  <div class="live-item_content">
                    <p><%= live.place %></p>
                    <p><%= simple_time(live.start_time) %>〜<%= simple_time(live.ending_time) %></p>
                  </div>
                  <div class="live-item-_status">
                    <%#カレントユーザーがログインしていなければ詳細画面しか表示させない%>
                    <%#カレントユーザーが芸人ではない場合は詳細画面しか表示させない%>
                      <% if current_user == nil || current_user.entertainer == false %>
                        <span><%= link_to t('view.show'), live_path(live.id), class: 'btn btn-outline-secondary' %></span>
                      <% else %>
                        <%#カレントユーザーの芸人とライブに参加する芸人が同じIDの場合は詳細、編集、削除画面を表示される%>
                        <%#詳細画面が表示されるのは一回だけ%>
                        <% if current_user.comedian.performer_managements.where(live_id:live.id).empty? %>
                          <span><%= link_to t('view.show'), live_path(live.id), class: 'btn btn-outline-secondary' %></span>
                        <% else %>
                          <span><%= link_to t('view.show'), live_path(live.id), class: 'btn btn-outline-secondary' %></span>
                          <span><%= link_to t('view.edit'), edit_live_path(live.id), class: 'btn btn-outline-secondary' %></span>
                          <span><%= link_to t('view.destroy'), live_path(live.id), method: :delete, class: 'btn btn-outline-secondary' %></span>
                        <% end %>
                      <% end %>
                  </div>
                </div>
              </section>
            </div>
            <% end %>
          </div>
          <div class="block-paginator pagination mx-auto pb-4">
            <%= paginate @lives %>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>