<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="search_live col-sm-2">
        <h6>ライブ検索機能</h6>
        <h2>ライブを検索しよう</h2>

        <%= search_form_for @search do |f| %>
          <div class="search_date">
            <%= f.label :date_gteq, 'ライブの日時で検索' %><br>
            <%= f.date_field :date_gteq, id: 'search_date', max: "9999-12-31" %>
            <p class="mb-0">~</p>
            <%= f.date_field :date_lteq, id: 'search_date', max: "9999-12-31" %>
          </div>

          <div class='search_plece'>
            <%= f.label :place_cont, '場所で絞り込む' %><br>
            <%= f.collection_select :place_cont, Live.select(:place).distinct, :place, :place, :include_blank => true %>
          </div>

          <div class="submit mt-3">
            <%= f.submit '検索する' %>
          </div>
        <% end %>

        <% if current_user != nil %>
          <% if current_user.entertainer != false %>
            <%= link_to t('view.live.add'), new_live_path, class: 'btn btn-default mt-3' %>
          <% end %>
        <% end %>

        <%#= link_to "直近１週間の予定", lives_path(week_search: "true"), class: 'btn btn-info mt-3' %>
      </div>

      <div class="live  col-sm-10">
        <h6>ライブ一覧</h6>
        <h2>開催される予定のライブがあります</h2>
        <% @lives.each do |live| %>
          <div class="live_item mx-auto">
            <p><%= live.title %></p>
            <p><%= simple_day(live.date) %></p>
            <p><%= simple_time(live.start_time) %>〜<%= simple_time(live.ending_time) %></p>
            <p><%= live.place %></p>
            <% @comedian = live.performer_management_comedians %>
            <% @comedian.each do |comedian| %>
              <% if current_user == nil %>
                <span><%= link_to t('view.show'), live_path(live.id), class: 'btn btn-default' %></span>
              <% else %>
                <% if current_user.entertainer == false %>
                  <span><%= link_to t('view.show'), live_path(live.id), class: 'btn btn-default' %></span>
                <% else %>
                  <% if current_user.comedian == nil %>
                    <span><%= link_to t('view.show'), live_path(live.id), class: 'btn btn-default' %></span>
                  <% else %>
                    <% if current_user.comedian.id == comedian.id %>
                      <span><%= link_to t('view.show'), live_path(live.id), class: 'btn btn-default' %></span>
                      <span><%= link_to t('view.edit'), edit_live_path(live.id), class: 'btn btn-default' %></span>
                      <span><%= link_to t('view.destroy'), live_path(live.id), method: :delete, class: 'btn btn-default' %></span>
                    <% else %>
                      <span><%= link_to t('view.show'), live_path(live.id), class: 'btn btn-default' %></span>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="pagination mx-auto">
        <%= paginate @lives %>
      </div>

    </div>
  </div>
</div>