<main role=”main”>
  <div class="page-content">
    <div class="section">
      <h1>ライブ登録画面</h1>
    </div>
    <div class="block-live-new bg-light live-form mx-auto">
      <%= form_with(model: @live, local: true) do |form| %>
        <% if @live.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
            <h2><%= @live.errors.count %>件のエラーがあります。</h2>
            <ul>
              <% @live.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group row pt-3">
          <%= form.label t('view.live.title'),class:"col-md-3" %>
          <div class="col-md-9">
            <%= form.text_field :title, class:"form-control", placeholder: 'ライブタイトルを入力' %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label t('view.live.date'),class:"col-md-3" %>
          <div class="col-md-9">
            <%= form.date_field :date, class:"form-control", max: "9999-12-31" %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label t('view.live.time'),class:"col-md-3" %>
          <div class="col-md-9">
            <%= form.time_select :start_time, :default => {:hour => '0', :minute => '00'}, class:"form-control" %>
            <span>〜</span>
            <%= form.time_select :ending_time, :default => {:hour => '0', :minute => '00'}, class:"form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label t('view.live.place'),class:"col-md-3" %>
          <div class="col-md-9">
            <%= form.text_field :place, class:"form-control", placeholder: '会場名を入力 (例)渋谷∞ホールなど' %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label t('view.live.prise'),class:"col-md-3" %>
          <div class="col-md-9">
            <%= form.text_field :price, placeholder: '料金を入力', class:"form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label t('view.live.content'),class:"col-md-3" %>
          <div class="col-md-9">
            <%= form.text_area :content, size: "30×10", class:"form-control", placeholder: 'ライブの見所や特徴などを入力' %>
          </div>
        </div>

        <%= form.submit t('view.live.entry'), class:"btn btn-primary mb-2" %>
      <% end %>
    </div>
    <div class="live-index mt-3">
      <p><%= link_to t('view.live.list'), lives_path %></p>
    </div>
  </div>
</main>