<div class="container">
<h1>ライブ詳細</h1>

  <div class="live_title">
    <p><%= t('view.live.title') %></p>
    <p><%= @live.title %></p>
  </div>

  <div class="live_date">
    <p><%= t('view.live.date') %></p>
    <p><%= simple_day(@live.date) %></p>
  </div>

  <div class="live_time">
    <p><%= t('view.live.time') %></p>
    <p><%= simple_time(@live.start_time) %>〜<%= simple_time(@live.ending_time) %></p>
  </div>
  
  <div class="live_place">
    <p><%= t('view.live.place') %></p>
    <p><%= @live.place %></p>
  </div>

  <div class="live_price">
    <p><%= t('view.live.place') %></p>
    <p><%= @live.price %>円</p>
  </div>

  <div class="live_content">
  　　<p><%= t('view.live.content') %></p>
    <p><%= @live.content %></p>
  </div>
  
  <span><%= link_to '編集', edit_live_path(@live.id),class: 'btn btn-default' %></span>
  <span><%= link_to '削除', live_path(@live.id), method: :delete,class: 'btn btn-default' %></span>

    <% if @participant.present? %>
      <%= link_to '参加をキャンセルする', participant_management_path(id: @participant.id), method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to '参加する', participant_managements_path(live_id: @live.id), method: :post, class: 'btn btn-primary' %>
    <% end %>

　<p><%= link_to 'ライブ一覧に戻る', lives_path %></p>
</div>