<h1>ライブ詳細</h1>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="comedian-show col-sm-12">
        <div class="live_title">
          <p><%= t('view.live.title') %></p>
          <p><%= @live.title %></p>
        </div>

        <div class="live_date">
          <p><%= t('view.live.date') %></p>
          <p><%= simple_day(@live.date) %></p>
        </div>

        <div class="live_time">
          <p><%= t('view.live.time') %></p>
          <p><%= simple_time(@live.start_time) %>〜<%= simple_time(@live.ending_time) %></p>
        </div>

        <div class="live_place">
          <p><%= t('view.live.place') %></p>
          <p><%= @live.place %></p>
        </div>

        <div class="live_price">
          <p><%= t('view.live.prise') %></p>
          <p><%= @live.price %>円</p>
        </div>

        <div class="live_content">
          　　<p><%= t('view.live.content') %></p>
          <p><%= @live.content %></p>
        </div>

        <% @comedian = @live.performer_management_comedians %>
        <% @comedian.each do |comedian| %>
          <% unless current_user == nil || current_user.entertainer == false || current_user.comedian == nil %>
            <% if current_user.comedian.id == comedian.id %>
              <span><%= link_to t('view.edit'), edit_live_path(@live.id), class: 'btn btn-outline-secondary' %></span>
              <span><%= link_to t('view.destroy'), live_path(@live.id), method: :delete, class: 'btn btn-outline-secondary' %></span>
            <% elsif @participant.present? %>
              <%= link_to 'キャンセルする', participant_management_path(id: @participant.id), method: :delete, class: 'btn btn-outline-secondary' %>
            <% else %>
              <%= link_to 'ライブに参加する', participant_managements_path(live_id: @live.id), method: :post, class: 'btn btn-outline-secondary' %>
            <% end %>
          <% end %>
        <% end %>
        <div class='mt-2'>
          <%= link_to "ライブ一覧に戻る", lives_path %>
        </div>
      </div>
    </div>
  </div>
</div>