<main role=”main”>
  <header class="page-header">
    <div class="page-header_inner">
      <div class="page-header_content row">
        <h1 class="main-title col-md-12"><%= @live.title %>のライブ情報</h1>
        <p class="main-outline col-md-12"><%= simple_day(@live.date) %>に<%= @live.place %>で行われる<%= @live.title %>のライブ情報ページです。会場情報、開催時間や料金を確認できます。</p>
      </div>
    </div>
  </header>

  <div class="page-content p-5">
    <div class="block-live-group">
      <div class="live-info p-5 mx-auto bg-light">
        <div class="live_title row">
          <p class="col-md-4 offset-md-1 text-center p-2 mb-0 border"><%= t('view.live.title') %></p>
          <p class="col-md-6 text-center p-2 m-0 border border-left-0"><%= @live.title %></p>
        </div>

        <div class="live_date row">
          <p class="col-md-4 offset-md-1 text-center p-2 mb-0 border border-top-0"><%= t('view.live.date') %></p>
          <p class="col-md-6 text-center p-2 m-0 border border-top-0 border-left-0"><%= simple_day(@live.date) %></p>
        </div>

        <div class="live_time row">
          <p class="col-md-4 offset-md-1 text-center p-2 mb-0 border border-top-0"><%= t('view.live.time') %></p>
          <p class="col-md-6 text-center p-2 m-0 border border-top-0 border-left-0"><%= simple_time(@live.start_time) %>〜<%= simple_time(@live.ending_time) %></p>
        </div>

        <div class="live_place row">
          <p class="col-md-4 offset-md-1 text-center p-2 mb-0 border border-top-0"><%= t('view.live.place') %></p>
          <p class="col-md-6 text-center p-2 m-0 border border-top-0 border-left-0"><%= @live.place %></p>
        </div>

        <div class="live_price row">
          <p class="col-md-4 offset-md-1 text-center p-2 mb-0 border border-top-0"><%= t('view.live.prise') %></p>
          <p class="col-md-6 text-center p-2 m-0 border border-top-0 border-left-0"><%= @live.price %>円</p>
        </div>

        <div class="live-peformer row">
          <p class="col-md-4 offset-md-1 text-center p-2 mb-0 border border-top-0">ライブ出演者</p>
          <% @comedian = @live.performer_management_comedians %>
          <div class="col-md-6 text-center p-2 m-0 border border-top-0 border-left-0">
            <% @comedian.each do |comedian| %>
              <span><%= link_to comedian.combination_name, comedian %></@>
            <% end%>
          </div>
        </div>

        <div class="live_content row">
          <p class="col-md-4 offset-md-1 text-center p-2 mb-0 border border-top-0"><%= t('view.live.content') %></p>
          <p class="col-md-6 text-center p-2 m-0 border border-top-0 border-left-0"><%= @live.content %></p>
        </div>

        <div class="live-genre row">
          <p class="col-md-4 offset-md-1 text-center p-2 mb-0 border border-top-0">関連ジャンル</p>
          <div class="col-md-6 text-center p-2 m-0 border border-top-0 border-left-0">
            <% genres = [] %>
            <% @comedian.each do |comedian| %>
              <% genres = genres.push(comedian.genre) %>
            <% end %>
            <% genres =  genres.uniq %>
            <% genres.each do |genre| %>
              <span><%= genre %></span>
            <% end %>
          </div>
        </div>

        <div class="live-status mt-3">
            <%#ユーザー登録が済んでない、又は芸人チェックが済んできない、又は芸人登録が済んできない場合は次へ%>
            <% unless current_user == nil || current_user.entertainer != false || current_user.comedian != nil %>
              <% if Date.today <= @live.date %>
                <%= link_to 'ライブに参加する', participant_managements_path(live_id: @live.id), method: :post, class: 'btn btn-outline-secondary' %>
              <% elsif @participant.present? %>
                <%= link_to 'キャンセルする', participant_management_path(id: @participant.id), method: :delete, class: 'btn btn-outline-secondary' %>
              <% end %>
            <% else %>
              <% unless current_user.comedian.performer_managements.where(live_id:@live.id).empty? %>
                <span><%= link_to t('view.edit'), edit_live_path(@live.id), class: 'btn btn-outline-secondary' %></span>
                <span><%= link_to t('view.destroy'), live_path(@live.id), method: :delete, class: 'btn btn-outline-secondary' %></span>
              <% end %>
              <% if current_user.comedian.performer_managements.where(live_id:@live.id).empty? %>
                <% if @performer.present? %>
                  <%= link_to 'キャンセルする', performer_management_path(id: @performer.id), method: :delete, class: 'btn btn-outline-secondary' %>
                <% elsif Date.today <= @live.date %>
                  <%= link_to 'ライブに出演する', performer_managements_path(live_id: @live.id), method: :post, class: 'btn btn-outline-secondary' %>
                <% end %>
              <% end %>
            <% end%>
        </div>
      </div>
    </div>

    <div class='mt-2'>
      <%= link_to "ライブ一覧に戻る", lives_path %>
    </div>
  </div>
</main>